@import "tailwindcss";

@supports (-webkit-touch-callout: none) {
	/* Safari-specific styles */
	.transition-all {
		-webkit-transition-property: all;
		transition-property: all;
	}
}

@theme {
	--color-h: #f1f1f1;

	--font-tt-runs: "TT Runs", sans-serif;
	--font-tt-commons: "TT Commons", sans-serif;
}

@layer utilities {
	.button-hover {
		@apply rounded-4xl hover:bg-neutral-200 cursor-pointer;
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--h: #f1f1f1;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

html,
body {
	overflow: hidden;
}

body {
	@apply bg-[var(--h)] text-[var(--foreground)];
	/* font-family: var(--font-tt-runs); */
}

.input,
.textarea {
	@apply focus:outline-none focus:ring-0 focus:ring-offset-0;
}

.h1,
.h2,
.h3 {
	font-family: var(--font-tt-commons);
	font-size: 1.5rem;
	font-weight: 700;
}

/* .button {
	@apply lowercase no-underline bg-white text-black px-16 py-6 rounded-2xl font-[ttruns] font-medium text-sm hover:rounded-4xl hover:shadow-lg duration-300;
} */

.button {
	@apply cursor-pointer lowercase no-underline bg-white text-black px-4 py-3 rounded-2xl font-[ttruns] font-medium text-sm hover:rounded-4xl hover:shadow-lg duration-300;
}

@media (min-width: 375px) {
	.h1 {
		font-size: calc(1.26145rem + 1.01781vw);
	}
}
